body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size:40px;
}
.header{
    background:url(images/top-banner.png);
    background-repeat:no-repeat;
    margin-bottom: 60px;
} 
.header h1{
    font-weight: 900;
    font-size: 55px;;
}
.header p, .dream-section p{
    margin-bottom: 35px;
}
.container{
    display:flex; 
    padding-left: 5%;;
}
.orange-color{
    color:orange;
    font-weight: 700;
}
.half-width{
    width:50%;
}
.half-width img{
    width: 80%;
    height: auto;
    padding-top: 30px;
    display: inline-block;
    padding-left: 60px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(salmon,orange); 
    padding:10px 40px;
    border-radius: 5px;
    color:#fff;
    font-weight: 700;;
}
.dream-section{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right bottom;
    margin-bottom: 50px;
}
.dream-section h2{
    font-size: 40px;
    font-weight: 900;
}
.experiences{
    background:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left center;
}
.experiences h2{
    font-weight: 900;
    font-size: 45px;
}
.experience-width{
    width: 45%;
    padding:35px 45px;
    margin: 20px;
    box-shadow: 0 3px 20px gray;
    margin-bottom: 100px;
}
.experience-width h2{
    font-size: 35px;
}
.experience-width h3{
    color:orange;
}
.full-stack{
    border-left:7px solid; 
    border-image: linear-gradient(orange,red);
    border-image-slice: 10;
}
.baby-dev{
    border-left:7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 30;
}
footer p{
    text-align: center;
    color:#333;
}